@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

:root {
     --main-color: #CF4F4E;
     --secondry-color: #FFFAE5;
     --border-r: 5px;
   }  

   *, *::before, *::after {
     box-sizing: border-box;
     margin: 0;
   }

   body, h1, h2, h3, h4, h5, h6, p, ul, li {
        padding: 0;
        margin: 0;
        font-family: 'Cairo', sans-serif;
   }

   ol, ul {
	list-style: none;
     font-family: 'Cairo', sans-serif;
}

button {
     border: none;
     font-family: 'Cairo', sans-serif;
}

/* ___________________________________________________ */

.short-break-them {
     --main-color: #4089A3;
}

.long-break-them {
     --main-color: #0055A1;
}

.foucs-them {
     --main-color: #CF4F4E;
}

html {
     height: 100vh;
}

body {
     height: 100vh !important;
     position: relative;
     transition: all 0.3s ease;
     /* overflow: hidden; */
}

body.swal2-height-auto {
     height: 100vh !important;
 }

.my-container {
     height: 100vh !important;
     position: relative;
}

div#eye-dropper-overlay {
     position: absolute !important;
     height: 100% !important;
 }

 .setting {
      height: 100%;
      width: 100%;
     position: fixed;
     Top:50%;
     Left:50%;
     Transform: translate(-50%, -50%);
     background-color: rgba(0, 0, 0, 0.7);
     z-index: 50;
     transition: all 5s ease;
}

.showset {
      display: none !important;
      transition: all 5s ease;

 }

 .setting div {
      background: var(--secondry-color);
      border-radius: var(--border-r)
 }

.main-dev {
     height: 100vh !important;
     background-color: var(--main-color);
     /* margin-top: 40px; */
     flex: 2.3;
}

.second-dev {
     background-color: var(--secondry-color);
     flex: 0.7;
}

.d-flex.flex-column.justify-content-around.align-items-center {
     margin: 0px auto !important;
     width: 50%;
 }

#settings {
      top: 35px;
      right: 35px;
      color: var(--secondry-color);
      font-size: 30px;
      cursor: pointer;
      z-index: 100;
     }
     
     #fullscr {
          top: 35px;
          right: 85px;
          color: var(--secondry-color);
          font-size: 30px;
          cursor: pointer;
          z-index: 100;
         }
     
     #settings i {
     transition: all 1 ease;

}
 #settings:hover i{
      transform: rotate(90deg);
 }
 
.tabs-wrapper {
     max-width: 50%;
     width: 100%;
     /* padding-top: ; */
}

.tabs-wrapper nav {
     height: 50px;
     width: 50%;
    margin: auto;
}


.tabs-wrapper nav label {
     display: block;
     cursor: pointer;
     position: relative;
     z-index: 1;
     height: 100%;
     width: 100%;
     text-align: center;
     line-height: 50px;
     font-size: 17px;
     color: var(--secondry-color);
}



input[type="radio"] {
     display: none;
}

.tabs-wrapper nav .slider{
     height: 100%;
     width: 29%;
     background: var(--secondry-color);
     border-radius: var(--border-r);
     z-index: 0;
     right: 0;
     bottom: 0;
     transition: all 0.3s ease;
}

#focus:checked ~ nav label.focus,
#shortBR:checked ~ nav label.shortBR,
#longBR:checked ~ nav label.longBR {
     color: black !important;
     font-weight: bold;
}


#shortBR:checked ~ nav .slider {
     right: 35%;
}

#longBR:checked ~ nav .slider {
     right: 69%;
}

section .content{
     display: none;
}

#focus:checked ~ section .content-1,
#shortBR:checked ~ section .content-2,
#longBR:checked ~ section .content-3{
     display: block;
}

.swal2-title {
     font-size: 20px !important;
 }

 .swal2-styled.swal2-confirm {
     background-color: var(--main-color) !important;
     color: #fff;
 }

.Pomodoro-timer {
     font-size: 9.2vw;
}

#start-btn {
     padding: 5px 35px;
     background-color: var(--secondry-color);
     font-size: 18px;
     border-radius: var(--border-r);
}

#start-btn:hover,
#start-btn:focus,
#puse-btn:hover,
#puse-btn:focus,
#reset-btn:hover,
#reset-btn:focus {
     animation: pulse 1s;
     box-shadow: 0 0 0 2em transparent;
     transition: all 0.2 ease;
}

@keyframes pulse {
     0% { box-shadow: 0 0 0 0 var(--secondry-color); }
   }
   

#puse-btn {
     padding: 5px 30px;
     background-color: transparent;
     border: 2px solid var(--secondry-color);
     font-size: 17px;
     border-radius: var(--border-r);
     color: var(--secondry-color);
     transition: all 0.2 ease;

}

#reset-btn {
     padding: 5px 30px;
     background-color: transparent;
     border: 2px solid var(--secondry-color);
     font-size: 17px;
     border-radius: var(--border-r);
     color: var(--secondry-color);
     transition: all 0.2 ease;

}


/* .main-dev {
     flex: 2;
} */

.timer-img img {
     width: 50%;
     max-width: 410px;
}

 figcaption {
      font-style: italic;
 }

 .todo-dev {
     width: 80%!important;
     height: 80%;
 }
 .todo-dev input[type="text"] {
     border: none;
     background: transparent;
     border-bottom: solid black 1px;
     position: relative;
 }

.todolist {
     /* max-height: 350px; */
     /* overflow: auto;
     overflow-x: hidden; */
}
   
 .todolist li {
      position: relative;
      padding-top: 20px;
      text-decoration: none;
      cursor: pointer;
      opacity: 1;
      padding-left: 10px;
      padding-right: 10px;
     }
     
     .todolist li.done {
      opacity: 0.7;
      text-decoration: line-through;
 }

 .todolist li span {
      position: absolute;
      left: 0;
      cursor: pointer; 
      padding-right: 10px;
 }

 .todo-dev button {
     font-size: 18px;
     font-weight: bold;
     color: var(--secondry-color);
     padding: 6px 0;
     background: var(--main-color);
     border-radius: var(--border-r);
     opacity: 0.8;
     pointer-events: none;
     margin-top: 20px;
 }

 .todo-dev button.active {
      opacity: 1 !important;
      pointer-events: auto;
 }

 input[type=number] {
     border: none;
 }

 button[type=submit] {
     padding: 5px 35px;
     background-color: var(--main-color);
     font-size: 18px;
     color: var(--secondry-color);
     border-radius: var(--border-r);
 }

 #close {
     left: 12px;
     top: 12px;
     color: var(--main-color);
     font-size: 22px;
     cursor: pointer;
 }

 @media only screen and (max-width: 1400px) {
     .tabs-wrapper {
          max-width: 80%;
          width: 100%;
     }

     .contentd-flex {
          width: 85% !important;
     }
   }

   @media only screen and (max-width: 1100px) {
     .tabs-wrapper nav label {
          font-size: 15px;
     }
     .tabs-wrapper nav {
          width: 90%;
     }
     
   }

   @media only screen and (max-width: 1100px) {
     .d-flex.flex-column.justify-content-around.align-items-center {
          width: 100%;
      }
     
   }



 @media only screen and (max-width: 600px) {
     .Pomodoro-timer {
          font-size: 100px;
     }

     .timer-img img {
          width: 80%;
     }

     .tabs-wrapper {
          max-width: 90%;
          width: 100%;
     }
     
   }